{% extends "base.html" %}

{% block title %} cart page {% endblock %}
    
    {% block content %}

        <h1>Shopping Cart</h1>
    <ul>
        {% for id, product in cart.items() %}
            <img src="{{ product.image_url }}" alt="{{ product.product_name }}" width="50px" height="50px">
            <li>{{ product.product_name }} - ${{ "{:.2f}".format(product.product_price) }}</li>
        {% endfor %}
    </ul>
    <p>Total Price: ${{ total_price }}</p>
       
        <a href=""><h1>checkout</h1></a>
    
    {% endblock %}
    
</body>
</html>