{% extends "base.html" %}
{% block title %}User billing{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />


<div class="container-xl px-4 mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link active ms-0" href="/userdetails">Profile</a>
        <a class="nav-link" href="/userbilling">Billing</a>
        <a class="nav-link" href="/usersecurity">Security</a>
    </nav>
    <hr class="mt-0 mb-4">
    <!-- Payment methods card-->
    <div class="card card-header-actions mb-4">
        <div class="card-header">
            Payment Details
        </div>
        <div class="card-body px-0">
            <!-- Payment method-->
            {% for user in users_list %}
            <div class="row gx-3 mb-3">
                <!-- Form Group (Name on Card)-->
                <div class="col-md-12">
                    <label class="small mb-1" for="">Name on Card:</label>
                    {{ user.get_card_name() }}
                </div>
            </div>
        </div>
        <div class="row gx-3 mb-3">
            <!-- Form Group (Card number)-->
            <div class="col-md-12">
                <label class="small mb-1" for="">Card Number:</label>
                ************{{ user.get_card_number()[-3:] }}
            </div>
            <div class="col-md-12">
                <label class="small mb-1" for="inputDate">Expiry:</label>
                {{ user.get_expiration_date() }}
            </div>
            <div class="col-md-12">
                <label class="small mb-1" for="">CVV:</label>
                ***
            </div>
            <a href="/edit_payment_method/{{user.get_customer_id()}}"><button class="btn btn-primary" type="button">Edit
                    Payment
                    Method</button></a>
            {% endfor %}
        </div>
    </div>
    <!-- Billing history card-->
    <div class="card mb-4">
        <div class="card-header">Billing History</div>
        <div class="card-body p-0">
            <!-- Billing history table-->
            <div class="table-responsive table-billing-history">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th class="border-gray-200" scope="col">Transaction ID</th>
                            <th class="border-gray-200" scope="col">Amount</th>
                            <th class="border-gray-200" scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for trans in trans_list %}
                        <tr>
                            <td>{{ trans.get_trans_id() }}</td>
                            <td>${{ trans.get_item_price() }}</td>
                            <td>Complete</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}